[advisories]
vulnerability = "deny"
unmaintained = "warn"
yanked = "warn"
ignore = []

[licenses]
unlicensed = "deny"
allow = [
  "MIT",
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "ISC",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "Unicode-DFS-2016",
  "CC0-1.0",
  "OpenSSL",
]
copyleft = "warn"

[bans]
multiple-versions = "warn"
wildcards = "warn"
deny = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
